.box1{
    background-color: blanchedalmond;
}
.box2{
    background-color:tomato;
}
.box3{
    background-color: skyblue;
}
.box4{
    background-color: coral;
}
.box5{
    background-color: seagreen;
}
.box6{
    background-color: rosybrown;
}
.box7{
    background-color: palevioletred;
}
.box8{
    background-color: mediumpurple;
}